html {
  scroll-snap-type: y mandatory;
}

.app_videos {
  position: relative;
  height: 800px;
  border-radius: 20px;
  overflow: scroll;
  width: 80%;
  max-width: 500px;
  scroll-snap-type: y mandatory;
}
.app {
  background-color: black;
  height: 100vh;
  display: grid;
  place-items: center;
}
/* Hide scrollbar for chrome,safari and opera*/
.app_videos::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox*/
.app_videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
